
/* ------------------------------START : COMMANDE ---------------------------  */
.rpl-commande h2{
    text-align: center;
    font-size: 2.2rem;
    font-weight: 500;
    background-color: var(--blueviolet);
    color: var(--white);
    padding: 10px 20px;
    margin-bottom: 15px;
    margin-top: 20px;
    
}
.rpl-commande p{
    font-style: italic;
    font-weight: 400;
    color: var(--blueviolet);
    text-align: center;
    margin-bottom: 20px;
}
/* ------------------------------ */
.tableau{
    font-size: 14px;
<<<<<<< HEAD
=======
    disol
>>>>>>> 4019fe80c7027c14d8a7a1316e45022f8919e5dd
    margin: 0;
    
}
.tableau p{
    color: var(--blueviolet);
    font-weight: 600;
    font-size: 16px;
    margin: 10px;
}
table{
    width: 60%;
    border-collapse: collapse;
    transition: width 2s;
   
}
th, td{
    border: 1px solid var(--vertolive);
    padding: 10px;
}
th{
    background: var(--vertolive);
    color: var(--white);
    text-transform: capitalize;
    text-align: left; 
}
td{
    background: var(--grey);
    margin-left: 10px;
}
/* Media querries */
@media screen and (max-width: 960px){
    table{
        width: 80%;
    }
    thead{
        display: none;
    }
    tr, td{
        display: block;
        text-align: left;
        padding: 0;
    }
    tr{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    [data-head]::before{
        content: attr(data-head);
        background: var(--vertolive);
        color: var(--white);
        text-transform: capitalize;
        width: 20%;
        display: inline-block;
        padding: 15px;
        margin-right: 15px;
        border-bottom: 1px solid var(--white)
    }
};
    



/* ------------------------------END : COMMANDE ---------------------------  */