/* ------------------------------START : COMMANDE ---------------------------  */
.rpl-confirmation h2{
    text-align: center;
    font-size: 2.2rem;
    font-weight: 500;
    background-color: var(--blueviolet);
    color: var(--white);
    padding: 10px 20px;
    margin-bottom: 15px;
    margin-top: 20px;
    
}
.rpl-confirmation h3{
    font-style: italic;
    font-weight: 400;
    color: var(--blueviolet);
    text-align: center;
    margin-bottom: 20px;
}

/* ------------------------------END : COMMANDE ---------------------------  */