
/* ------------------------------START : PART FOOTER ---------------------------  */

.rpl-row hr{
    margin: 35px;
    color: var(--black);
}
/* .rpl-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
} */
.rpl-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
    gap: 1rem;
    bottom: 0;
    width: 100%;
    padding: 10px;
    
}
.rpl-col p{
    color: var(--black);
}
.rpl-row .rpl-social i{
    color: var(--black);
    font-size: 20px;
    margin: 0 15px;
    transition: .5s;
}
/* ------------------------------END : PAR FOOTER ---------------------------  */