
/* ------------------------------PARTIE HEADER ---------------------------  */
header{
    position:sticky ;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    background: var(--blueviolet);
    padding: 20px 10%;
    transition: all .50s ease;
}
.logo{
    display: flex;
    font-size: 30px;
    align-items: start;
    color: var(--white);
    font-weight: 700;
}
.rpl-nav{
    display: flex;
}
.rpl-nav a {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    margin: 0 30px;
    transition: all .50s ease;
}
.rpl-nav a:hover{
    color: var(--yellow);
}
.rpl-nav a.active{
    color: var(--white);
}
.rpl-btn a{
    color : var(--white);
    background: var(--vertolive);
    padding: 10px ;
    
}
.rpl-btn a:hover{
    color : var(--vertolive);
    border: 1px solid var(--vertolive);
    background: var(--white);
}

/* ------------------------------PARTIE HOMEPAGE ---------------------------  */
section .rpl-homepage{
    padding: 70px 14% 60px;
}
.rpl-homepage{
    position: relative;
    height: 60vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
.rpl-homepage-img img{
    width: 100%;
    height: auto;
}
.rpl-homepage-text h1{
    font-size: 65px;
    font-weight: 900;
    margin: 1px 40px;
    color: var(--blueviolet);
}
.rpl-homepage-text h3{
<<<<<<< HEAD
    font-family: 'Cormorant Garamond', serif;
    font-size: 55px;
    font-weight: 600;
    font-style: italic;
=======
    font-size: 45px;
    font-weight: 700;
>>>>>>> 4019fe80c7027c14d8a7a1316e45022f8919e5dd
    margin: 1px 40px;
    color: var(--vertolive);
}

.rpl-homepage-text span{
    color: var(--bluevioletpale);
    font-style: italic;
}
.rpl-homepage-text p{
<<<<<<< HEAD
    font-family: 'Cormorant Garamond', serif;
=======
>>>>>>> 4019fe80c7027c14d8a7a1316e45022f8919e5dd
    font-size: 14px;
    color: var(--grey);
    padding: 5px;
    margin: 5px 45px;
    border-left: 10px solid var(--vertolive);
}
.rpl-btn-1{
    display: inline-block;
    padding: 15px 15px;
    background: var(--blueviolet);
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all .50 ease;
    margin: 5px 45px;
}
.rpl-btn-2{
    display: inline-block;
    padding: 15px 15px;
    color: var(--blueviolet);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid var(--blueviolet);
    transition: all .50 ease;
    margin: 5px 45px;
}
<<<<<<< HEAD
@media screen and (max-width: 570px){
    .rpl-homepage{
        grid-template-columns: 1fr;
    }
    .rpl-homepage-text{
        padding-top: 60px;
    }
    .rpl-homepage-img{
        text-align: center;
    }
}
    
=======
>>>>>>> 4019fe80c7027c14d8a7a1316e45022f8919e5dd
