
/* ------------------------------START : FORM ---------------------------  */
.rpl-booking h2{
    text-align: center;
    font-size: 2.2rem;
    font-weight: 500;
    background-color: var(--blueviolet);
    color: var(--white);
    padding: 10px 20px;
    margin-bottom: 15px;
    margin-top: 20px;
    
}
.rpl-booking p{
    font-style: italic;
    font-weight: 400;
    color: var(--blueviolet);
    text-align: center;
    margin-bottom: 20px;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
    border: 1px solid var(--vertolive);
    border-radius: 10px;
}
input:focus{
    outline: none;
}
form fieldset{
    background: var(--bluevioletpale);
    color: var(--grey);
    font-size: 14px;
    line-height: 2rem;
    font-weight: 500;
    margin-bottom: 25px;
}
form fieldset legend{
    background: var(--vertolive);
    color: var(--white);
    font-size: 16px;
    padding: 5px 10px;
    margin: 10px;   
}
form input{
    padding: 5px;
    margin-bottom: 5px;
    color: var(--grey);
    border: 1px solid var(--vertolive);
    width: 100%;
}
form input[type=radio], form input[type=checkbox]{
    width: auto;
}
input, button, textarea{
    font-size: inherit;
}
form textarea{
    border: 1px solid var(--vertolive);
    border-radius: 5px;
    padding: 5px;
    height: 100px;
    width: 100%;
    resize: none;
}
div .textarea label{
    vertical-align: top;
}

form button{
    background: var(--blueviolet);
    border: 1px solid var(--vertolive);
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--white);
}
form button:hover{
    background: var(--white);
    border: 1px solid var(--blueviolet);
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--blueviolet);
}

form select{
    appearance: none;
    border: 1px solid var(--grey);
    border-radius: 5px;
    padding : 5px 25px;
    color: var(--vertolive);
    background: url(../svg/caret-down.svg) 50% center /1em no-repeat;
}
small{
    color: var(--vertolive);
}
form div.txt label, form div.select label{
    display: none;
}


@media screen {
    
}
/* ------------------------------END : FORM ---------------------------  */