.rpl-resto h2{
    text-align: center;
    font-size: 2.2rem;
    font-weight: 500;
    background-color: var(--blueviolet);
    color: var(--white);
    padding: 10px 20px;
    margin-bottom: 15px;
    margin-top: 20px;
}
.rpl-resto p{
    font-style: italic;
    font-weight: 400;
    color: var(--blueviolet);
    text-align: center;
    margin-bottom: 20px;
}

.rpl-grid-dish img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    
}
.rpl-grid-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    margin: 20px;
    
    
}
.rpl-grid-menu > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rpl-grid-menu > div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.rpl-dish-1{
    grid-column: 1/1;
    grid-row: 1/1;
}
.rpl-dish-2{
    grid-column: 2/3;
    grid-row:1/2;
}
.rpl-dish-3{
    grid-column: 3/5;
    grid-row: 1/3;
}
.rpl-dish-4{
    grid-column: 1/3;
    grid-row: 2/4;
}

.rpl-contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
    padding: 20px;
}
address h3{
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 600;
    
    background-color: var(--vertolive);
}
address h4 {
    font-size: 1.4rem;
    font-weight: 900;
    color: var(--blueviolet);
}
.rpl-client-info{
    width: 100%;
    padding: 20px;  
}


@media screen and (max-width: 571px) and (max-width: 959px) {

    .rpl-grid-menu {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:  1fr;
    }
    
     }
@media screen and (max-width : 570px ) {

   .rpl-grid-menu {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto ;

    }
    .rpl-dish-1{
        grid-column: 1/1;
        grid-row: 1/1;
    }
    .rpl-dish-2{
        grid-column: 1/1;
        grid-row:2/2;
    }
    .rpl-dish-3{
        grid-column: 1/1;
        grid-row: 3/3;
    }
    .rpl-dish-4{
        grid-column: 1/1;
        grid-row: 4/4;
    }
}