@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,500;1,700;1,900&display=swap');
<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
=======
>>>>>>> 4019fe80c7027c14d8a7a1316e45022f8919e5dd


/* ------------------------------PARTIE GÉNÉRALE ---------------------------  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;

}

html body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

:root {
    --grey: rgb(135, 129, 129);
    --Purple: #800080;
    --yellow :#DDE32B;
    --bluenuit: #550e96;
    --blueviolet: #8a2be2;
    --vertolive: #919600;
    --bluevioletpale: #ece8f0;
    --white: #F5F4F0;
	--black : #000;
    --tWhite:rgba(255, 255, 255, 0.8);
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;  
}
<<<<<<< HEAD
/* ------------------------------END : GÉNÉRAL ---------------------------  */
=======
/* ------------------------------END : GÉNÉRAL ---------------------------  */
>>>>>>> 4019fe80c7027c14d8a7a1316e45022f8919e5dd
