*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html, body{
    height: 100%;
}
body{
    background: #222;
    font-family: Arial;
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-rows: auto 1fr auto;
    
}
nav {
    background: #f1f1f1;
    padding: 30px;
    display: flex;
    text-align: center;
    justify-content: space-around;
  
}
.content{
    padding: 125px 50px 50px;
    background: royalblue;
    /* flex-grow: 1; */
}
h1{
    color: aliceblue;
    text-align: center;
}
footer{
    background: #f1f1f1;
    padding: 10px;
    font-size: 20px ;
    text-align: center;
}