
/* ------------------------------START : HEADER ---------------------------  */
#rpl-testimonials-section{
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    width: 100%;
}
.rpl-testimonial-client{
    letter-spacing: 1px;
    margin: 20px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rpl-testimonial-client h2{
    font-size: 2.2rem;
    font-weight: 500;
    background-color:var(--blueviolet);
    color: var(--white);
    padding: 10px 20px;
    margin-bottom: 15px;
}
.rpl-testimonial-client span{
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.3rem;
    color: var(--dimgrey);
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.rpl-testimonial-bloc{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
    
}
.rpl-testimonial-box{
    width: 30%;
    box-shadow: 0 10px 13px var(--dimgrey);
    background-color: var(--white);
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    border-radius: 5px;
}
.rpl-client-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: center;
    border: 1px solid var(--blueviolet);

}
.rpl-client-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.rpl-client{
    display: flex;
    align-items: center;
}
.rpl-name-client {
    display: flex;
    flex-direction: column;
    margin: 15px;

}
.rpl-name-client strong{
    color: var(--blueviolet);
    font-size: 1.1rem;
    letter-spacing: .5px;
    
}
.rpl-name-client span{
    color: #979797;
    font-size: .8rem;
}
.rpl-notice{
    color:blueviolet;
}
.rpl-box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.rpl-client-comment p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 1rem;
    color: #4b4b4b;
    font-weight: 500;
    font-style: italic;
}
.rpl-testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease .5s;
    border: 1px solid var(--blueviolet);
}
.rpl-testimonial-box p:hover{
    color: var(--dimgrey);
}
/* @media (max-width : 1200px){
    .rpl-testimonial-box{
        width:50%;
        padding: 10px;
    } 
}*/
@media screen and (max-width: 960px){
    .rpl-testimonial-box{
        width:100%;
    }
    .rpl-testimonial-box h1{
        font-size: 1.4rem;
    }
}